conf-release
debian/_service
debian/changelog
debian/control
debian/copyright
debian/debian.tar.gz
debian/dummy.tar.gz
debian/ezmlm-idx.dsc
debian/ezmlm-idx-Debian_11.dsc
debian/ezmlm-idx-Debian_10.dsc
debian/ezmlm-idx-Debian_9.0.dsc
debian/ezmlm-idx.postinst
debian/ezmlm-idx.postrm
ezmlm-idx.spec
ezmlm-idx.changes
VERSION
altpath.lo
author.lo
auto-ccld.sh
auto-str
auto-str.o
auto_bin.c
auto_bin.lo
auto_cron.c
auto_cron.lo
auto_etc.c
auto_etc.lo
auto_lib.c
auto_lib.lo
auto_qmail.c
auto_qmail.lo
auto_version.c
auto_version.lo
choose
compile
concatHDR.lo
config.lo
cookie.lo
copy.lo
date2yyyymm.lo
date822fmt.lo
dateline.lo
decodeB.lo
decodeHDR.lo
decodeQ.lo
die_badaddr.lo
die_badformat.lo
die_dow.lo
die_nomem.lo
die_sender.lo
die_usage.lo
direntry.h
dl.lib
dmarc.lo
dns_dfd.lo
dns_domain.lo
dns_dtda.lo
dns_ip.lo
dns_ipq.lo
dns_mx.lo
dns_name.lo
dns_nd.lo
dns_packet.lo
dns_random.lo
dns_rcip.lo
dns_rcrw.lo
dns_resolve.lo
dns_sortip.lo
dns_transmit.lo
dns_txt.lo
encodeB.lo
encodeQ.lo
ezmlm-accept
ezmlm-archive
ezmlm-archive.o
ezmlm-cgi
ezmlm-cgi.o
ezmlm-check
ezmlm-checksub
ezmlm-checksub.o
ezmlm-clean
ezmlm-clean.o
ezmlm-confirm
ezmlm-confirm.o
ezmlm-cron
ezmlm-cron.o
ezmlm-dispatch
ezmlm-dispatch.o
ezmlm-gate
ezmlm-gate.o
ezmlm-get
ezmlm-get.o
ezmlm-glconf
ezmlm-idx
ezmlm-idx.o
ezmlm-import
ezmlm-import.o
ezmlm-issubn
ezmlm-issubn.o
ezmlm-limit
ezmlm-limit.o
ezmlm-list
ezmlm-list.o
ezmlm-make
ezmlm-make.o
ezmlm-manage
ezmlm-manage.o
ezmlm-moderate
ezmlm-moderate.o
ezmlm-queue
ezmlm-reject
ezmlm-reject.o
ezmlm-request
ezmlm-request.o
ezmlm-return
ezmlm-return.o
ezmlm-rmtab
ezmlm-rmtab.o
ezmlm-send
ezmlm-send.o
ezmlm-split
ezmlm-split.o
ezmlm-store
ezmlm-store.o
ezmlm-sub
ezmlm-sub.o
ezmlm-subunsub.o
ezmlm-test
ezmlm-tstdig
ezmlm-tstdig.o
ezmlm-unsub
ezmlm-unsub.o
ezmlm-warn
ezmlm-warn.o
ezmlm-weed
ezmlm-weed.o
ezmlmrc
fill-template
find-systype
getconf.lo
getconf_ulong.lo
getconfopt.lo
getconfopt_copy.lo
getconfopt_cstr.lo
getconfopt_cstr_flag.lo
getconfopt_flag.lo
getconfopt_str.lo
getconfopt_ulong.lo
getconfopt_ulong_flag.lo
getconfopt_version.lo
gethdrln.lo
hdr_add.lo
hdr_boundary.lo
hdr_ctboundary.lo
hdr_datemsgid.lo
hdr_from.lo
hdr_listsubject.lo
hdr_mime.lo
hdr_subject.lo
hdr_transferenc.lo
idxthread.lo
iopause.h
iopause.lo
ip4_scan.lo
lang/ch_GB/ezmlmrc
lang/cs/ezmlmrc
lang/cs/text/messages
lang/da/ezmlmrc
lang/da/text/messages
lang/de/ezmlmrc
lang/de/text/messages
lang/en_US/ezmlmrc
lang/en_US/text/messages
lang/es/ezmlmrc
lang/fr/ezmlmrc
lang/fr/text/messages
lang/hu/ezmlmrc
lang/hu/text/messages
lang/id/ezmlmrc
lang/id/text/messages
lang/it/ezmlmrc
lang/it/text/messages
lang/ja/ezmlmrc
lang/nl/ezmlmrc
lang/nl/text/messages
lang/pl/ezmlmrc
lang/pl/text/messages
lang/pt/ezmlmrc
lang/pt/text/messages
lang/pt_BR/ezmlmrc
lang/pt_BR/text/messages
lang/ru/ezmlmrc
lang/sv/ezmlmrc
lang/sv/text/messages
libcompile
libezmlm.a
load
lockfile.lo
log.lo
make-compile
make-libcompile
make-load
make-makelib
make-makeso
make-messages
make-messages-c
makehash.lo
makelang
makelib
makepath.lo
makeso
messages-txt.c
messages.lo
qmail.lo
qmail_copy.lo
quote.lo
select.h
sender.lo
slurp.lo
slurpclose.lo
socket_bind.lo
socket_conn.lo
socket_tcp.lo
socket_udp.lo
sub-std.lo
sub-std.so
subdb.lo
subhash.lo
surf.lo
surfpcs.lo
systype
test-getconfopt
test-getconfopt.o
unfoldHDR.lo
wrap_chdir.lo
wrap_execbin.lo
wrap_execsh.lo
wrap_execv.lo
wrap_exitcode.lo
wrap_fork.lo
wrap_rename.lo
wrap_stat.lo
wrap_waitpid.lo
constmap_idx.lo
Makevars.
sub-mysql.lo
sub-mysql.so
sub-pgsql.lo
sub-pgsql.so
sub_sql.lo
INSTALL.cgi
ezmlm-queue.1
installer
installer.o
sub-sqlite3.lo
sub-sqlite3.so
PKGBUILD
getln2_idx.lo
ezmlm-make.1
auto_prefix.lo
